[Unit]
Description=Solax Monitor
After=multi-user.target
[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /home/vojta/solax/monitor/monitor_daemon.py
[Install]
WantedBy=multi-user.target
